[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
	branch = master
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	branch = master
